body {
    /*for full page coverage*/
    margin: 0;
    padding: 0;
    min-height: 100vh; 

    background-image: linear-gradient(to bottom, #990000, #330000); 
}

.table_div {
    text-align: center; 
}

.content {
    flex-grow: 1;   
    text-align: center;
    img{
        height: 100px;
    }
}
